<!DOCTYPE html>
html(lang="en")
    head
        title WORKERS' FITNESS | OUR PRO TRAINERS CAN BE YOUR SUPPORT
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="format-detection" content="telephone=no")
        meta(name='description' content="Start workout today at Workers' Fitness!")
        meta(property="og:title" content="BE WORKERS, BE STRONGER")
        meta(property="og:description" content="Change is strong, so start workout at Workers' Fitness today!") 
        meta(property="og:type" content="website" ) 
        meta(property="og:url" content="https://sbsy1517.github.io/Workers-Fitness/" ) 
        meta(property="og:image" content="source/img/index-owl-6.jpg")  
        meta(name="twitter:title" content="BE WORKERS, BE STRONGER")
        meta(name="twitter:description" content="Change is strong, so start workout at Workers' Fitness today!")
        meta(name="twitter:url" content="https://sbsy1517.github.io/Workers-Fitness/")
        meta(name="twitter:image" content="source/img/index-owl-6.jpg")


        link(href='source/icon/favicon.ico' rel='shortcut icon')
        link(rel='apple-touch-icon', sizes='57x57', href='source/icon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='source/icon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='source/icon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='source/icon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='source/icon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='144x144', href='source/icon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='120x120', href='source/icon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='152x152', href='source/icon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='source/icon/apple-touch-icon-180x180.png')
        
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="stylesheets/components/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional' rel='stylesheet')
        link(rel="stylesheet", href="stylesheets/font/flaticon/font/flaticon.css")
        link(rel='stylesheet' href='stylesheets/about-us-trainers.css')

    body    
        
        nav.myNavbar.navbar-top.d-flex.w-100.position-fixed.justify-content-between.align-items-center
            a.logo(href="index.html") Workers'
            .menu.rwd-overlg
                a.menu_list(href="index.html").d-inline-flex Home
                .dropdown.menu_list.actived About Us
                    .dropdown-content
                        a(href="about-us-story.html") Story
                        a(href="about-us-classes.html") Classes
                        a(href="about-us-locations.html") Locations
                        a(href="about-us-trainers.html").actived Trainers
                a.menu_list(href="news.html") News
                a.menu_list(href="shop.html") Shop
                .dropdown.menu_list Membership
                    .dropdown-content
                        a(href='membership-login.html') Login
                        a(href='membership-signup.html') Sign Up
                a.menu_list(href="join-us.html") Join Us
            .menu-hamburger.rwd-underlg
                .fas.fa-bars.hamburger
            .menu_mobile
                .wrap.w-100
                    a(href="index.html").menu_list#option Home
                    hr
                    a.menu_list(data-toggle="collapse" href="#about_us" role="button" aria-expanded="false" aria-controls="about_us").actived#about_us_title About Us
                    .collapse#about_us 
                        a.collapse_items(href="about-us-story.html") Story
                        a.collapse_items(href="about-us-classes.html") Classes
                        a.collapse_items(href="about-us-locations.html") Locations
                        a.collapse_items(href="about-us-trainers.html").actived Trainers
                    hr
                    a.menu_list(href="news.html")#option News
                    hr
                    a.menu_list(href="shop.html")#option Shop
                    hr
                    a.menu_list(data-toggle="collapse" href="#membership" role="button" aria-expanded="false" aria-controls="membership")#membership_title Membership
                    .collapse#membership
                        a.collapse_items(href='membership-login.html') Login
                        a.collapse_items(href='membership-signup.html') Sign Up
                    hr
                    a.menu_list#option(href="join-us.html") Join Us
        
        section#header
            h1 BE YOUR
                br
                | SUPPORT
            .img(style="background-image: url(source/img/about-us/about-us-trainers-1.jpg)")
            a.fas.fa-chevron-down(href="#trainers") 


        section#trainers
            .container
                .section_intro
                    h2.rwd-oversm PERSONAL TRAINERS
                    h2.rwd-undersm PRO TRAINERS
                    .line
                    p Surpass your fitness goals with our expert trainers’ help.
                .row
                    .col-lg-6.intro-img
                        img(src="source/img/about-us/about-us-trainers-2.jpg", alt="")
                    .col-lg-6.intro-text.align-self-center
                        h3 CERTIFIED FITNESS COACH
                        p Everyone has a different fitness goal. Our trainers are here to help you meet and break them. But it’s not just about getting you fit. Our trainers will help you unlock your full fitness potential. With the right workout, you’ll find yourself moving, and even standing better.
                .wrap
                    h4 OUR TRAINERS FOLLOW OUR 5 KEY PILLARS OF FITNESS TO GET YOU IN TOP CONDITION
                    .row#trainer-service.justify-content-center
                        .col-lg-4.col-md-6
                            .icon
                                i.flaticon-fit
                            .description
                                h4 POSTURE
                                p Correcting your posture will reduce stress and strain on your body. You’ll  stand taller, move better, and feel less fatigue.
                        .col-lg-4.col-md-6
                            .icon
                                i.flaticon-gym-1
                            .description
                                h4 STRENGTH
                                p Strength training helps you develop strong bones, manage weight and help you do everyday activities better and easier.
                        .col-lg-4.col-md-6
                            .icon
                                i.flaticon-gym
                            .description
                                h4 MOBILITY
                                p Good mobility allows your body to move the way it was designed to move – pain free and with a good range of motion.
                        .col-lg-4.col-md-6
                            .icon
                                i.flaticon-vegetables
                            .description
                                h4 FITNESS DIET
                                p Your core is part of almost every move you make. Strong core muscles act as a stabilizer, making moving safer and more efficient.
                        .col-lg-4.col-md-6
                            .icon
                                i.flaticon-stationary-bike
                            .description
                                h4 CARDIO
                                p Improving your cardio will strengthen your stamina and endurance so you can work harder for long and burn more calories.
            .carousel.slide(data-ride='carousel')#classes-img
                .carousel-inner
                    .carousel-item.active
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-4.jpg); background-position: top center")
                        .carousel-caption
                            h3 FREE WEIGHTS
                            p With the help of dumbbells, barbells, and other weight-bearing equipment, fitness exercises performed by self-adjusting weights are generally used to train muscles in specific parts. Compared with the training of mechanical equipment, the flexibility and amplitude of free weight training movements are relatively unlimited, and it is not necessary to go to the gym to do it. It is especially suitable for people who have been training for some time and want to strengthen local small muscles.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-5.jpg); background-position: top center")
                        .carousel-caption
                            h3 WEIGHT TRAINING EQUIPMENT
                            p In the gym, you need large weight training equipment to perform actions, such as rowing machines, pectoral muscles, back muscles and so on. Because the fitness equipment is now very well made, the training intensity can be adjusted according to the different postures and muscle strengths of each person, which is suitable for all people with different levels of concentration training for individual parts of the muscles.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-6.jpg); background-position: bottom center")
                        .carousel-caption
                            h3 FASCIA RELAXATION
                            p Relaxing the muscles on the training schedule before exercise can increase body awareness, reduce muscle rigidity, and promote muscle recruitment! Relaxing fascia after exercise can reduce muscle soreness, lower heart rate, and reduce fascia friction!
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-8.jpg); background-position: top center")
                        .carousel-caption
                            h3 TRX
                            p TRX is a training that uses self-weight and gravity to enhance muscle strength, balance, coordination, softness, core, and joint stability to prevent injury. TRX training courses can enhance core strength through various sports, and the core naturally provides balance and coordination through the unstable elements created by sports.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-9.jpg);background-position: top center")
                        .carousel-caption
                            h3 MULTI-FUNCTIONAL TRAINING RACKS
                            p This is a great training system for those who are looking for better physical performance. Not only can increase core strength, core strengthening can help avoid injuries, improve physical posture, and greatly help functional performance in daily life, it can also combine muscle strength, muscle endurance, explosive power, coordination and so on.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-10.jpg); background-position: top center")
                        .carousel-caption
                            h3 FUNCTIONAL TURF
                            p Functional turf multi-functional training sports mat, designed for one-by-one coaching courses and group courses. Multi-functional training is popular among sports players and professional teams can improve athlete's speed, agility, response and coordination, and performance. 
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-11.jpg);background-position: center center")
                        .carousel-caption
                            h3 CORE TRAINING
                            p Before strengthening the limbs, you must strengthen the trunk first, indicating that the core muscle group has a place in training. You must first establish a stable period of the core of the body before training the muscle endurance and strength stage!
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-trainers-12.jpg);background-position: top center")
                        .carousel-caption
                            h3 NAK MUAY
                            p Boxing training provides a general introduction to "zero" experience. Those who are interested in boxing can quickly get started, improve muscle strength, endurance, and cardiopulmonary fitness so that you can respond faster and coordinate more smoothly. Pleasant mood, fun with some challenges, is also a self-defense skill.
                .slidebtn
                    a(href='#classes-img', role='button', data-slide='prev')
                        i.fas.fa-chevron-left
                    a(href='#classes-img', role='button', data-slide='next')
                        i.fas.fa-chevron-right
        section#link
            .title
                h2 FIND OUR PRO TRAINERS
                p CLICK BUTTON TO FIND THE NEAREST WORKERS' AND FIT TOGETHER!
                a.button(href="about-us-locations.html")
                    button(type="button").btn.btn-outline-light FIND WORKERS'
        footer
            .site-map
                .row
                    .col-lg-5.rwd-underlg
                        .form-group
                            form(action="" novalidate).needs-validation
                                h4
                                    label(for="subscribe") GET THE LATEST WORKERS' NEWS, FITNESS TIPS, & EXCLUSIVE OFFERS DELIVERED STRAIGHT TO YOUR INBOX
                                .group
                                    i.far.fa-envelope.d-flex.align-items-center.align-self-center
                                    input#subscribe(type="email" placeholder=" Enter Your Email to Get News" required).form-control
                                    .invalid-feedback Please enter a valid email 😭
                                    button(type="submit").btn.btn-outline-dark.d-flex.align-items-center.justify-content-center
                                        i.fas.fa-arrow-right
                        hr
                    .col-lg-7
                        .row.footer_content
                            .footer_list.col-4
                                h4 ABOUT US
                                ul
                                    li 
                                        a(href="about-us-story.html") STORY
                                    li
                                        a(href="about-us-classes.html") CLASSES
                                    li
                                        a(href="about-us-locations.html") LOCATIONS
                                    li
                                        a(href="about-us-trainers.html") TRAINERS
                            .footer_list.col-4
                                h4 MEMBERSHIP
                                ul
                                    li
                                        a(href="membership-login.html") LOGIN
                                    li
                                        a(href="membership-signup.html") SIGN UP
                                    li
                                        a(href="join-us.html") JOIN US
                                    
                            .footer_list.col-4
                                h4 MORE
                                ul
                                    li
                                        a(href="news.html") NEWS
                                    li
                                        a(href="shop.html") SHOP
                                    li 
                                        a(href="https://apps.apple.com/us/app/activity/id1208224953" target="_blank") IOS APP
                                    li
                                        a(href="https://play.google.com/store/apps" target="_blank") ANDROID APP
                            
                            .footer_list.col-4
                                h4 COMPANY
                                ul
                                    li
                                        a(href="#") CAREERS
                                    li
                                        a(href="#") PRESSROOM 
                                    li 
                                        a(href="#") PRIVACY POLICY
                                    li
                                        a.text-nowrap(href="#") TERMS & CONDITIONS        
                            .footer_list_app.col-4
                                h4 FIND US ON
                                ul.social.w-100.d-flex.justify-content-between
                                    li
                                        a(href="https://www.facebook.com" target="_blank").fab.fa-facebook-f
                                    li
                                        a(href="https://www.instagram.com" target="_blank").fab.fa-instagram
                                    li
                                        a(href="https://twitter.com" target="_blank").fab.fa-twitter  
                                    li 
                                        a(href="https://www.youtube.com" target="_blank").fab.fa-youtube
                    .col-lg-5.rwd-overlg
                        .form-group
                            form(action="" novalidate).needs-validation
                                h4
                                    label(for="subscribe") GET THE LATEST WORKERS' NEWS, FITNESS TIPS, & EXCLUSIVE OFFERS DELIVERED STRAIGHT TO YOUR INBOX
                                .group
                                    i.far.fa-envelope.d-flex.align-items-center.align-self-center
                                    input#subscribe(type="email" placeholder=" Enter Your Email to Get News" required).form-control
                                    .invalid-feedback Please enter a valid email 😭
                                    button(type="submit").btn.btn-outline-dark.d-flex.align-items-center.justify-content-center
                                        i.fas.fa-arrow-right
            .copyright
                .container.text-center
                    p Copyright © 2020 Workers' Fitness Studio.  This website is only the project for learning Bootstrap4. Website design and build by h.chiu.


        script(src="javascript/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src="javascript/bootstrap.min.js")
        script(src="javascript/parallax.min.js")
        script(src="javascript/owl.carousel.min.js")
        script(src="javascript/all.js")