<!DOCTYPE html>
html(lang="en")
    head
        title WORKERS' FITNESS | OUR CLASS MAKES YOU FIT AND IT'S WORTHY
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="format-detection" content="telephone=no")
        meta(name='description' content="Start workout today at Workers' Fitness!")
        meta(property="og:title" content="BE WORKERS, BE STRONGER")
        meta(property="og:description" content="Change is strong, so start workout at Workers' Fitness today!") 
        meta(property="og:type" content="website" ) 
        meta(property="og:url" content="https://sbsy1517.github.io/Workers-Fitness/" ) 
        meta(property="og:image" content="source/img/index-owl-6.jpg")  
        meta(name="twitter:title" content="BE WORKERS, BE STRONGER")
        meta(name="twitter:description" content="Change is strong, so start workout at Workers' Fitness today!")
        meta(name="twitter:url" content="https://sbsy1517.github.io/Workers-Fitness/")
        meta(name="twitter:image" content="source/img/index-owl-6.jpg")


        link(href='source/icon/favicon.ico' rel='shortcut icon')
        link(rel='apple-touch-icon', sizes='57x57', href='source/icon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='source/icon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='source/icon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='source/icon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='source/icon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='144x144', href='source/icon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='120x120', href='source/icon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='152x152', href='source/icon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='source/icon/apple-touch-icon-180x180.png')
        
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="stylesheets/components/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional' rel='stylesheet')
        link(rel='stylesheet' href='stylesheets/about-us-trainers.css')

    body    
        
        nav.myNavbar.navbar-top.d-flex.w-100.position-fixed.justify-content-between.align-items-center
            a.logo(href="index.html") Workers'
            .menu.rwd-overlg
                a.menu_list(href="index.html").d-inline-flex Home
                .dropdown.menu_list.actived About Us
                    .dropdown-content
                        a(href="about-us-story.html") Story
                        a(href="about-us-classes.html") Classes
                        a(href="about-us-locations.html") Locations
                        a(href="about-us-trainers.html").actived Trainers
                a.menu_list(href="news.html") News
                a.menu_list(href="shop.html") Shop
                .dropdown.menu_list Membership
                    .dropdown-content
                        a(href='membership-login.html') Login
                        a(href='membership-signup.html') Sign Up
                a.menu_list(href="join-us.html") Join Us
            .menu-hamburger.rwd-underlg
                .fas.fa-bars.hamburger
            .menu_mobile
                .wrap.w-100
                    a(href="index.html").menu_list#option Home
                    hr
                    a.menu_list(data-toggle="collapse" href="#about_us" role="button" aria-expanded="false" aria-controls="about_us").actived#about_us_title About Us
                    .collapse#about_us 
                        a.collapse_items(href="about-us-story.html") Story
                        a.collapse_items(href="about-us-classes.html") Classes
                        a.collapse_items(href="about-us-locations.html") Locations
                        a.collapse_items(href="about-us-trainers.html").actived Trainers
                    hr
                    a.menu_list(href="news.html")#option News
                    hr
                    a.menu_list(href="shop.html")#option Shop
                    hr
                    a.menu_list(data-toggle="collapse" href="#membership" role="button" aria-expanded="false" aria-controls="membership")#membership_title Membership
                    .collapse#membership
                        a.collapse_items(href='membership-login.html') Login
                        a.collapse_items(href='membership-signup.html') Sign Up
                    hr
                    a.menu_list#option(href="join-us.html") Join Us
        
        section#header
            h1 BE YOUR
                br
                | SUPPORT
            .img(style="background-image: url(source/img/about-us/about-us-trainers-1.jpg)")
            a.fas.fa-chevron-down(href="#classes") 

        footer
            .site-map
                .row
                    .col-lg-5.rwd-underlg
                        .form-group
                            form(action="" novalidate).needs-validation
                                h4
                                    label(for="subscribe") GET THE LATEST WORKERS' NEWS, FITNESS TIPS, & EXCLUSIVE OFFERS DELIVERED STRAIGHT TO YOUR INBOX
                                .group
                                    i.far.fa-envelope.d-flex.align-items-center.align-self-center
                                    input#subscribe(type="email" placeholder=" Enter Your Email to Get News" required).form-control
                                    .invalid-feedback Please enter a valid email 😭
                                    button(type="submit").btn.btn-outline-dark.d-flex.align-items-center.justify-content-center
                                        i.fas.fa-arrow-right
                        hr
                    .col-lg-7
                        .row.footer_content
                            .footer_list.col-4
                                h4 ABOUT US
                                ul
                                    li 
                                        a(href="about-us-story.html") STORY
                                    li
                                        a(href="about-us-classes.html") CLASSES
                                    li
                                        a(href="about-us-locations.html") LOCATIONS
                                    li
                                        a(href="about-us-trainers.html") TRAINERS
                            .footer_list.col-4
                                h4 MEMBERSHIP
                                ul
                                    li
                                        a(href="membership-login.html") LOGIN
                                    li
                                        a(href="membership-signup.html") SIGN UP
                                    li
                                        a(href="join-us.html") JOIN US
                                    
                            .footer_list.col-4
                                h4 MORE
                                ul
                                    li
                                        a(href="news.html") NEWS
                                    li
                                        a(href="shop.html") SHOP
                                    li 
                                        a(href="https://apps.apple.com/us/app/activity/id1208224953" target="_blank") IOS APP
                                    li
                                        a(href="https://play.google.com/store/apps" target="_blank") ANDROID APP
                            
                            .footer_list.col-4
                                h4 COMPANY
                                ul
                                    li
                                        a(href="#") CAREERS
                                    li
                                        a(href="#") PRESSROOM 
                                    li 
                                        a(href="#") PRIVACY POLICY
                                    li
                                        a.text-nowrap(href="#") TERMS & CONDITIONS        
                            .footer_list_app.col-4
                                h4 FIND US ON
                                ul.social.w-100.d-flex.justify-content-between
                                    li
                                        a(href="https://www.facebook.com" target="_blank").fab.fa-facebook-f
                                    li
                                        a(href="https://www.instagram.com" target="_blank").fab.fa-instagram
                                    li
                                        a(href="https://twitter.com" target="_blank").fab.fa-twitter  
                                    li 
                                        a(href="https://www.youtube.com" target="_blank").fab.fa-youtube
                    .col-lg-5.rwd-overlg
                        .form-group
                            form(action="" novalidate).needs-validation
                                h4
                                    label(for="subscribe") GET THE LATEST WORKERS' NEWS, FITNESS TIPS, & EXCLUSIVE OFFERS DELIVERED STRAIGHT TO YOUR INBOX
                                .group
                                    i.far.fa-envelope.d-flex.align-items-center.align-self-center
                                    input#subscribe(type="email" placeholder=" Enter Your Email to Get News" required).form-control
                                    .invalid-feedback Please enter a valid email 😭
                                    button(type="submit").btn.btn-outline-dark.d-flex.align-items-center.justify-content-center
                                        i.fas.fa-arrow-right
            .copyright
                .container.text-center
                    p Copyright © 2020 Workers' Fitness Studio.  This website is only the project for learning Bootstrap4. Website design and build by h.chiu.


        script(src="javascript/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src="javascript/bootstrap.min.js")
        script(src="javascript/parallax.min.js")
        script(src="javascript/owl.carousel.min.js")
        script(src="javascript/all.js")