<!DOCTYPE html>
html(lang="en")
    head
        title WORKERS' FITNESS | OUR CLASS MAKES YOU FIT AND IT'S WORTHY
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="format-detection" content="telephone=no")
        meta(name='description' content="Start workout today at Workers' Fitness!")
        meta(property="og:title" content="BE WORKERS, BE STRONGER")
        meta(property="og:description" content="Change is strong, so start workout at Workers' Fitness today!") 
        meta(property="og:type" content="website" ) 
        meta(property="og:url" content="https://sbsy1517.github.io/Workers-Fitness/" ) 
        meta(property="og:image" content="source/img/index-owl-6.jpg")  
        meta(name="twitter:title" content="BE WORKERS, BE STRONGER")
        meta(name="twitter:description" content="Change is strong, so start workout at Workers' Fitness today!")
        meta(name="twitter:url" content="https://sbsy1517.github.io/Workers-Fitness/")
        meta(name="twitter:image" content="source/img/index-owl-6.jpg")


        link(href='source/icon/favicon.ico' rel='shortcut icon')
        link(rel='apple-touch-icon', sizes='57x57', href='source/icon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='source/icon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='source/icon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='source/icon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='source/icon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='144x144', href='source/icon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='120x120', href='source/icon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='152x152', href='source/icon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='source/icon/apple-touch-icon-180x180.png')
        
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="stylesheets/components/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional' rel='stylesheet')
        link(rel='stylesheet' href='stylesheets/about-us-classes.css')

    body    
        
        nav.myNavbar.navbar-top.d-flex.w-100.position-fixed.justify-content-between.align-items-center
            a.logo(href="index.html") Workers'
            .menu.rwd-overlg
                a.menu_list(href="index.html").d-inline-flex Home
                .dropdown.menu_list.actived About Us
                    .dropdown-content
                        a(href="about-us-story.html") Story
                        a(href="#").actived Classes
                        a(href="about-us-locations.html") Locations
                        a(href="about-us-trainers.html") Trainers
                a.menu_list(href="news.html") News
                a.menu_list(href="shop.html") Shop
                .dropdown.menu_list Membership
                    .dropdown-content
                        a(href='membership-login.html') Login
                        a(href='membership-signup.html') Sign Up
                a.menu_list(href="join-us.html") Join Us
            .menu-hamburger.rwd-underlg
                .fas.fa-bars.hamburger
            .menu_mobile
                .wrap.w-100
                    a(href="index.html").menu_list#option Home
                    hr
                    a.menu_list(data-toggle="collapse" href="#about_us" role="button" aria-expanded="false" aria-controls="about_us").actived#about_us_title About Us
                    .collapse#about_us 
                        a.collapse_items(href="about-us-story.html") Story
                        a.collapse_items(href="#").actived Classes
                        a.collapse_items(href="about-us-locations.html") Locations
                        a.collapse_items(href="about-us-trainers.html") Trainers
                    hr
                    a.menu_list(href="news.html")#option News
                    hr
                    a.menu_list(href="shop.html")#option Shop
                    hr
                    a.menu_list(data-toggle="collapse" href="#membership" role="button" aria-expanded="false" aria-controls="membership")#membership_title Membership
                    .collapse#membership
                        a.collapse_items(href='membership-login.html') Login
                        a.collapse_items(href='membership-signup.html') Sign Up
                    hr
                    a.menu_list#option(href="join-us.html") Join Us
        
        section#header
            h1 BE FIT
                br
                | TOGETHER
            .img(style="background-image: url(source/img/about-us/about-us-classes-1.jpg)")
            a.fas.fa-chevron-down(href="#classes") 

        section#classes
            .container
                .section_intro
                    h2.rwd-oversm OUR CLASSES
                    h2.rwd-undersm OUR CLASSES
                    .line
                    p Prefer to workout in a group? We've got a class for that.

            .carousel.slide(data-ride='carousel')#classes-img
                .carousel-inner
                    .carousel-item.active
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-2.jpg)")
                        .carousel-caption
                            h3 CARDIO & SCULPT
                            p Welcome to a high-energy, whole body workout that caters to everyone, from total beginners to total addicts. You’ll push yourself to the limits from combining athletic moves such as running, lunging and jumping, with strength exercises such as push-ups and squats. You’ll tone and shape your body while you work out to music that’ll energize and uplift you. At the end of the class, you’ll have burned plenty of calories and improved your stamina. 
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-3.jpg); background-position: top center")
                        .carousel-caption
                            h3 DANCE CLASS
                            p Join the dance in this freestyle dance class. We’ll take you through dance routines that use a variety of music genres and dance styles. You’ll build your coordination, flexibility and agility in this fast paced workout. Leave class with a sense of accomplishment for mastering the dance routine.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-4.jpg); background-position: top center")
                        .carousel-caption
                            h3 MIND & BODY
                            p We’re turning up the heat in this yoga workout. We set the room to a specific temperature as we take you through a carefully crafted sequence of poses that is designed to flow seamlessly from one pose to another. The warm room will help loosen your muscles and joints, making them more pliable so you can deepen your stretches.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-5.jpg); background-position: top center")
                        .carousel-caption
                            h3 INDOOR CYCLING
                            p Welcome to a true power-based indoor cycling experience. We combine different training methods for a diverse and well-rounded workout, such as custom intensity rides, challenges and competitions. As you ride, we’ll display your Functional Threshold Power (FTP) so you can monitor your progress and gain motivation to push yourself further. You’ll improve your power and consistency.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-6.jpg); background-position: top center")
                        .carousel-caption
                            h3 INT. SYSTEM COURSE
                            p The development of group courses from coaching, collective fitness management, and marketing in the world, focusing on fitness events, and providing various types of group courses combining movement and music, can improve or enhance participants' strength, endurance, aerobic capacity, and physical coordination, softness, agility, and exercisers have a healthy body and mind, which is effective, simple, fun, safe and updated every season.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-7.jpg); background-position: top center")
                        .carousel-caption
                            h3 NAK MUAY
                            p Master the 8 weapons of Nak Muay. In 30 minutes, you’ll learn how to use kicks, punches, and elbow and knee strikes in a variety of fight combinations. We’ll adjust the complexity and intensity of each move depending on your experience. You’ll get stronger, leaner and fitter overall.
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-8.jpg)")
                        .carousel-caption
                            h3 WATER AEROBICS
                            p Challenge your whole body when you work out in a pool. The water will add resistance as you perform cardiovascular and strength exercise. We’ll take you through non-stop movements based on 6 moving patterns. The class starts off low impact, slowly building in intensity. You’ll tone your muscles, increase your range of movement, and improve your endurance, balance and flexibility. 
                    .carousel-item
                        .img.d-block.w-100(style="background-image: url(source/img/about-us/about-us-classes-9.jpg); background-position: top center")
                        .carousel-caption
                            h3 CROSSFIT
                            p CrossFit is a lifestyle characterized by safe, effective exercise and sound nutrition. CrossFit can be used to accomplish any goal, from improved health to weight loss to better performance. The program works for everyone—people who are just starting out and people who have trained for years.
                .slidebtn
                    a(href='#classes-img', role='button', data-slide='prev')
                        i.fas.fa-chevron-left
                    a(href='#classes-img', role='button', data-slide='next')
                        i.fas.fa-chevron-right

        section#link
            .title
                h2 WANT TO WORKOUT TOGETHER?
                p CLICK BUTTON TO FIND THE NEAREST WORKERS'
                a.button(href="about-us-locations.html")
                    button(type="button").btn.btn-outline-light FIND WORKERS' TODAY 


        
        footer
            .site-map
                .row
                    .col-lg-5.rwd-underlg
                        .form-group
                            form(action="" novalidate).needs-validation
                                h4
                                    label(for="subscribe") GET THE LATEST WORKERS' NEWS, FITNESS TIPS, & EXCLUSIVE OFFERS DELIVERED STRAIGHT TO YOUR INBOX
                                .group
                                    i.far.fa-envelope.d-flex.align-items-center.align-self-center
                                    input#subscribe(type="email" placeholder=" Enter Your Email to Get News" required).form-control
                                    .invalid-feedback Please enter a valid email 😭
                                    button(type="submit").btn.btn-outline-dark.d-flex.align-items-center.justify-content-center
                                        i.fas.fa-arrow-right
                        hr
                    .col-lg-7
                        .row.footer_content
                            .footer_list.col-4
                                h4 ABOUT US
                                ul
                                    li 
                                        a(href="about-us-story.html") STORY
                                    li
                                        a(href="#") CLASSES
                                    li
                                        a(href="about-us-locations.html") LOCATIONS
                                    li
                                        a(href="about-us-trainers.html") TRAINERS
                            .footer_list.col-4
                                h4 MEMBERSHIP
                                ul
                                    li
                                        a(href="membership-login.html") LOGIN
                                    li
                                        a(href="membership-signup.html") SIGN UP
                                    li
                                        a(href="join-us.html") JOIN US
                                    
                            .footer_list.col-4
                                h4 MORE
                                ul
                                    li
                                        a(href="news.html") NEWS
                                    li
                                        a(href="shop.html") SHOP
                                    li 
                                        a(href="https://apps.apple.com/us/app/activity/id1208224953" target="_blank") IOS APP
                                    li
                                        a(href="https://play.google.com/store/apps" target="_blank") ANDROID APP
                            
                            .footer_list.col-4
                                h4 COMPANY
                                ul
                                    li
                                        a(href="#") CAREERS
                                    li
                                        a(href="#") PRESSROOM 
                                    li 
                                        a(href="#") PRIVACY POLICY
                                    li
                                        a.text-nowrap(href="#") TERMS & CONDITIONS        
                            .footer_list_app.col-4
                                h4 FIND US ON
                                ul.social.w-100.d-flex.justify-content-between
                                    li
                                        a(href="https://www.facebook.com" target="_blank").fab.fa-facebook-f
                                    li
                                        a(href="https://www.instagram.com" target="_blank").fab.fa-instagram
                                    li
                                        a(href="https://twitter.com" target="_blank").fab.fa-twitter  
                                    li 
                                        a(href="https://www.youtube.com" target="_blank").fab.fa-youtube
                    .col-lg-5.rwd-overlg
                        .form-group
                            form(action="" novalidate).needs-validation
                                h4
                                    label(for="subscribe") GET THE LATEST WORKERS' NEWS, FITNESS TIPS, & EXCLUSIVE OFFERS DELIVERED STRAIGHT TO YOUR INBOX
                                .group
                                    i.far.fa-envelope.d-flex.align-items-center.align-self-center
                                    input#subscribe(type="email" placeholder=" Enter Your Email to Get News" required).form-control
                                    .invalid-feedback Please enter a valid email 😭
                                    button(type="submit").btn.btn-outline-dark.d-flex.align-items-center.justify-content-center
                                        i.fas.fa-arrow-right
            .copyright
                .container.text-center
                    p Copyright © 2020 Workers' Fitness Studio.  This website is only the project for learning Bootstrap4. Website design and build by h.chiu.


        script(src="javascript/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src="javascript/bootstrap.min.js")
        script(src="javascript/parallax.min.js")
        script(src="javascript/owl.carousel.min.js")
        script(src="javascript/all.js")