<!DOCTYPE html>
html(lang="en")
    head
        title WORKERS' FITNESS 
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="format-detection" content="telephone=no")
        meta(name='description' content="Start workout today at Workers' Fitness!")
        meta(property="og:title" content="BE WORKERS, BE STRONGER")
        meta(property="og:description" content="Change is strong, so start workout at Workers' Fitness today!") 
        meta(property="og:type" content="website" ) 
        meta(property="og:url" content="https://sbsy1517.github.io/Workers-Fitness/" ) 
        meta(property="og:image" content="source/img/index-owl-6.jpg")  
        meta(name="twitter:title" content="BE WORKERS, BE STRONGER")
        meta(name="twitter:description" content="Change is strong, so start workout at Workers' Fitness today!")
        meta(name="twitter:url" content="https://sbsy1517.github.io/Workers-Fitness/")
        meta(name="twitter:image" content="source/img/index-owl-6.jpg")

        link(href='source/icon/favicon.ico' rel='shortcut icon')
        link(rel='apple-touch-icon', sizes='57x57', href='source/icon/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='source/icon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='source/icon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='source/icon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='source/icon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='144x144', href='source/icon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='120x120', href='source/icon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='152x152', href='source/icon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='source/icon/apple-touch-icon-180x180.png')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional")
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="stylesheets/components/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional' rel='stylesheet')
        link(rel='stylesheet' href='stylesheets/all.css')
    body    
        
        nav.myNavbar.navbar-top.d-flex.w-100.position-fixed.justify-content-between.align-items-center
            a.logo(href="#") Workers'
            .menu.rwd-overlg
                a.menu_list.actived(href="#").d-inline-flex Home
                .dropdown.menu_list About Us
                    .dropdown-content
                        a(href="#") Classes
                        a(href="#") Locations
                        a(href="#") Trainers
                a.menu_list(href="#") News
                a.menu_list(href="#") Shop
                .dropdown.menu_list Membership
                    .dropdown-content
                        a(href='#') Login
                        a(href='#') Sign Up
                a.menu_list(href="#") Join Us
            .menu-hamburger.rwd-underlg
                .fas.fa-bars.hamburger
            .menu_mobile
                .wrap.w-100
                    a(href="#").menu_list.active#option Home
                    hr
                    a.menu_list(data-toggle="collapse" href="#about_us" role="button" aria-expanded="false" aria-controls="about_us")#about_us_title About Us
                    .collapse#about_us 
                        a.collapse_items(href="#") Classes
                        a.collapse_items(href="#") Locations
                        a.collapse_items(href="#") Trainers
                    hr
                    a.menu_list(href="#")#option News
                    hr
                    a.menu_list(href="#")#option Shop
                    hr
                    a.menu_list(data-toggle="collapse" href="#membership" role="button" aria-expanded="false" aria-controls="membership")#membership_title Membership
                    .collapse#membership
                        a.collapse_items(href='#') Login
                        a.collapse_items(href='#') Sign Up
                    hr
                    a.menu_list#option(href="#") Join Us
        
        section#start.jumbotron.jumbotron-fluid.d-flex.mb-0.p-0
            //- video.rwd-underxm(src="source/video/index-30s.mp4" autoplay loop muted playsinline controls)
            video.rwd-overxm(src="source/video/index-60s.mp4" autoplay loop muted playsinline controls)
            .container
                .contain
                    h1.slogen.rwd-overmd BE WORKER, BE STRONGER
                    h1.slogen.rwd-undermd BE WORKER, 
                        br
                        |BE STRONGER
                        
                    a.button(href="#")
                        button(type="button").btn.btn-outline-light FREE PASS
                    a.fas.fa-chevron-down(href="#about")

        section#about
            .container
                .section_intro
                    h2.rwd-oversm WE HAVE WHAT YOU NEED
                    h2.rwd-undersm ABOUT US
                    .line
                    p Whether you’re just starting out or an old hand, you’ll find what you need for your fitness journey.
                .skew-wrap.rwd-overlg
                    a.about(href="#")
                        h3 CLASSES
                        .description
                            .intro
                                .title CLASSES
                                p  If you love the energy of group workouts, we have a class that’ll fit you.
                                span Explore More
                        img.class-img(src="source/img/index-class.jpg", alt="")
                        
                    a.about(href="#")
                        h3 Locations
                        .description
                            .intro
                                .title Locations
                                p  Our clubs have cutting-edge fitness equipment to take your workout to the next level. 
                                span Explore More
                        img.location-img(src="source/img/index-location.jpg", alt="")
                        
                    a.about(href="#")
                        h3 Trainers
                        .description
                            .intro
                                .title Trainers
                                p  Surpass your fitness goals with our expert trainers’ help and make you better.
                                span Explore More
                        img.trainers-img(src="source/img/index-trainers.jpg", alt="")

                .wrap.rwd-underlg
                    a.about(href="#")
                        .img.class-img(style="background-image: url('source/img/index-class.jpg') ")
                        .description
                            .intro
                                h3 CLASSES
                                p  If you love the energy of group workouts, we have a class that’ll fit you.
                                span Explore More
                    a.about(href="#")
                        .img.locatiom-img(style="background-image: url('source/img/index-location.jpg') ")
                        .description
                            .intro
                                h3 Locations
                                p  Our clubs have cutting-edge fitness equipment to take your workout to the next level. 
                                span Explore More
                    a.about(href="#")
                        .img.trainers-img(style="background-image: url('source/img/index-trainers.jpg') ")
                        .description
                            .intro
                                h3 Trainers
                                p  Surpass your fitness goals with our expert trainers’ help and make you better.
                                span Explore More
                        
                    
                        
                    

                        
        .bgimg(data-parallax="scroll" data-image-src="source/img/index-bg-3.jpg")
            .container
                .description.rwd-oversm
                
                    h2 CHANGE IS STRONG
                    p NEVER TOO LATE TO WORKOUT
                    a.button(href="#")
                        button(type="button").btn.btn-outline-light FIND WORKERS' AND START TODAY
                        
                .description.rwd-undersm
                    h2 CHANGE
                        br
                        | IS STRONG
                    p START WORKOUT TODAY 
                    a.button(href="#")
                        button(type="button").btn.btn-outline-light FIND WORKERS'
        section#newsNshop
            .container
                .section_intro
                    h2.rwd-oversm YOU MIGHT WANNA KNOW
                    h2.rwd-undersm HIGHLIGHTS
                    .line
                    p Here’s what’s happening  in our clubs. News, shop, and more!
                .row
                    .col-lg-4.side-left
                        .news
                            h4 LATEST NEWS
                            .news_content
                                a.news_subtitle(href="#") MEET IFBB PRO - OUR 2020 WORKERS' AMBASSADOR
                                p.news_date JAN 03, 2020
                                p.news_text IFBB PRO, Sebastian (a.k.a Kosmofit) is a member at Workers' Taipei near Taipei 101 in Taipei Taiwan.  Learn more about his by watching this video.  The ambassadors were selected as part of the third annual search with thousands of Workers' members entering by posting on social media. Sebastian is a well-known fitness Youtuber personality in Taiwan and the winner as IFBB PRO. 
                                a.read_more(href="#") READ MORE
                                    i.fas.fa-angle-double-right
                            hr
                            .news_content
                                a.news_subtitle(href="#") WORKERS' TAIWAN ANNOUNCEMENTS 1/1 - 1/7
                                p.news_date JAN 01, 2020
                                .news_announcement 
                                    p.store Workers' Xinyi
                                        br
                                        | 1/3, Due to the renovation work of the Multi-functional Training Zone, this area is temporarily closed from 09:00 - 16:00.
                                        br
                                        br
                                        | Worker's Chengkung
                                        br
                                        | 1/9, Due to the high-voltage DC power supply equipment renovation project of the building, Worker's Chengkung will be closed from 12: 00 - 15: 30, and will be opened immediately after construction. During this period, single-point members will be allowed to exercise at the other Workers' in Tainan.
                                a.read_more(href="#") READ MORE
                                    i.fas.fa-angle-double-right
                            hr
                            .news_content
                                a.news_subtitle(href="#") THE COUNTDOWN TO THE NEW YOU IS ON! 2020 HERE WE COME!!
                                p.news_date DEC 29, 2019
                                p.news_text If you’re serious about improving your fitness, there is no better way to make a commitment than by scheduling a session with our world-class coaching staff. With rigorous training and certifications, our staff will create a customized fitness program to help you be your best self. We’ll evaluate your body composition, strength, mobility, stamina, speed and nutrition and help you develop goals to improve each of them. The first step is just deciding to start. 
                                a.read_more(href="#") READ MORE
                                    i.fas.fa-angle-double-right
                            hr
                            a.read_more(href="#") SEE ALL NEWS
                                    i.fas.fa-angle-double-right
                    .col-lg-8.side-right
                        .row
                            .col-lg-6.shop
                                .img(style="background-image: url(source/img/index-shop.jpg)")
                                    a(href="#") WORKERS' SHOP
                                .shop_contain
                                    .merch_name MYPROTEIN 
                                        br
                                        |IMPACT WHEY PROTEIN
                                    .merch_button 
                                        a.price(href="#") NT$ 594
                                        a.learnMore(href="#") LEARN MORE
                                    hr
                                    a.shop_link(href="#") BROWSE THE SHOP 
                                        i.fas.fa-angle-double-right
                        
                                    

                            .col-lg-6.app
                                .app_contain
                                    h4 GET THE APP
                                    p Manage your account, class schedules, make a personal training appointment and more!
                                    .app_link
                                        a.app_store(href="http://itunes.apple.com/app" , target="_blank")
                                            img(src="source/img/app_store.svg")
                                        a.google_play(href="https://play.google.com/store/apps" , target="_blank")
                                            img(src="source/img/google_play.svg")
                                    img.rwd-overlg(src="source/img/index-iphone.png")
                                    img.rwd-underlg(src="source/img/index-iphone-watch.png", alt="")
                                    
                            .col-12.gallery
                                .owl-carousel.owl-theme
                                    .item(style="background-image: url(source/img/index-owl-1.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-2.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-3.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-4.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-5.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-6.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-7.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-8.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-9.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-10.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-11.jpg)")
                                    .item(style="background-image: url(source/img/index-owl-12.jpg)")
                                .gallery_content
                                    h4 WE ARE WORKERS
                                    p Here is what our club members' gym life, want to join us? Be fit, healthier, and stronger, it's never too late starting today.
                                    a.button(href="#")
                                        button.rwd-oversm(type="button").btn.btn-outline-light MAKE THE FIRST MOVE
                                        button.rwd-undersm(type="button").btn.btn-outline-light JOIN US
                            


                                        
                                
        footer
            .site-map
                .row
                    .col-lg-7
                        .row.footer_content
                            .footer_list.col-4
                                h4 ABOUT US
                                ul
                                    li
                                        a(href="#") CLASSES
                                    li
                                        a(href="#") LOCATIONS
                                    li
                                        a(href="#") TRAINERS
                            .footer_list.col-4
                                h4 MEMBERSHIP
                                ul
                                    li
                                        a(href="#") LOGIN
                                    li
                                        a(href="#") SIGN UP
                                    li
                                        a(href="#") JOIN US
                                    
                            .footer_list.col-4
                                h4 MORE
                                ul
                                    li
                                        a(href="#") NEWS
                                    li
                                        a(href="#") SHOP
                                    li 
                                        a(href="http://itunes.apple.com/app" target="_blank") IOS APP
                                    li
                                        a(href="https://play.google.com/store/apps" target="_blank") ANDROID APP
                            
                            .footer_list.col-4
                                h4 COMPANY
                                ul
                                    li
                                        a(href="#") CAREERS
                                    li
                                        a(href="#") PRESSROOM 
                                    li 
                                        a(href="#") PRIVACY POLICY
                                    li
                                        a.text-nowrap(href="#") TERMS & CONDITIONS        
                            .footer_list_app.col-4
                                h4 FIND US ON
                                ul.social.w-100.d-flex.justify-content-between
                                    li
                                        a(href="https://www.facebook.com" target="_blank").fab.fa-facebook-f
                                    li
                                        a(href="https://www.instagram.com" target="_blank").fab.fa-instagram
                                    li
                                        a(href="https://twitter.com" target="_blank").fab.fa-twitter  
                                    li 
                                        a(href="https://www.youtube.com" target="_blank").fab.fa-youtube
                                
                            
                    .col-lg-5
                        h4
                            label(for="subcribe") GET THE LATEST WORKERS' NEWS, FITNESS TIPS, & EXCLUSIVE OFFERS DELIVERED STRAIGHT TO YOUR INBOX
                        form(action="").d-flex
                            i.far.fa-envelope.d-flex.align-items-center.align-self-center
                            input#subcribe(type="email" placeholder=" Enter Your Email to Get News")
                            button.btn.btn-outline-dark.d-flex.align-items-center.justify-content-center
                                i.fas.fa-arrow-right
                        hr
            .copyright
                .container.text-center
                    p Copyright © 2020 Workers' Fitness Studio.  This website is only the project for learning Bootstrap4. Website design and build by h.chiu.


        script(src="javascript/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src="javascript/bootstrap.min.js")
        script(src="javascript/parallax.min.js")
        script(src="javascript/owl.carousel.min.js")
        script(src="javascript/all.js")
