nav
    z-index: 3 !important
section#header
    +section-header
    +ip5
        h1
            font-size: 40px
section#classes
    padding-top: 80px
    +lg
        padding-top: 60px
    .container
        .section_intro
            +section_intro
            margin-bottom: 40px
    +carousel
    
section#link
    +section-link
