section#login
    margin-top: 65px
    background-color: $color_white
    .row
        .col-lg-7,.col-lg-5
            padding: 0px 
        .col-lg-5
            background-color: $color_white
            .container
                form
                    padding: 0px 100px
                    h3
                        color: $color_orange 
                        font-size: 40px
                        margin-bottom: 20px
                        font-weight: bold
                    .form-row
                        .invalid-feedback
                            position: absolute
                        .loginform
                            label
                                font-size: 18px
                                transform: translateY(10px)
                            
                            input
                                font-size: 18px
                                border: none
                                border-bottom: 2px solid $color_orange
                                background-color: transparent
                            .fas.eyes
                                color: $color_orange
                                cursor: pointer
                                font-size: 18px
                                transform: translateY(10px)
                        .mt-40
                            margin-top: 20px
                    .submit
                        margin-top: 30px
                        .forget
                            font-size: 15px
                            color: $color_orange
                            text-decoration: none
                            &:hover
                                color: $color_ltOrange
                                // font-weight: bold
                        button
                            
                            font-weight: bold
                            color: $color_black
                            background-color: $color_orange
                            margin-left: auto
                            &:hover
                                background-color: $color_ltOrange
                    .sign-in-with
                        margin-top: 15px
                        h4
                            display: block
                            width: 100%
                            text-align: center
                            font-size: 18px
                        a
                            display: flex
                            // padding: 0px 5px
                            justify-content: center

                            .signbutton
                                margin: 10px 0px
                                width: 100%
                                &:hover
                                    // transform: translate(5px,5px)
                                    -webkit-filter: drop-shadow(3px 3px 2px rgba($color_black, 0.8))
                    .signup
                            margin-top: 10px
                            font-size: 15px
                            text-align: center
                            a
                                text-decoration: none
                                color: $color_orange
                                font-weight: bold
                                &:hover
                                    color: $color_ltOrange
                            
                    
        .col-lg-7
            h1
                font-size: 50px
                position: absolute
                top: 160px
                left: 100px
                z-index: 1
                color: $color_white
                border: 4px solid $color_white
                padding: 10px 30px
            .img
                height: calc(100vh - 65px)
                min-height: 695px
                width: 100%
                background-size: cover
                background-position: right center
                +ip5
                    height: 85vh
                    min-height: 400px
    