// offcanvas  
.menu_mobile.open
  transform: translateY(0px)
  background-color: $color_black
  transition-duration: 0.4s
.menu_mobile
  display: none
  position: absolute
  padding: 70px 0px 0px
  width: 100%
  top: 0px
  left: 0px
  background-color: transparent
  color: $color_white
  transform: translateY(-600px)
  transition-duration: 0.5s
  z-index: -1
  +lg
    display: block
  .actived
    font-weight: bold
    color: $color_orange
    cursor: default
  a
    display: block
    text-align: center
    color: $color_white
    &:hover
      color: $color_ltOrange
  .wrap
    hr
      margin: 0
      border-top: 1px solid rgba($color_white, 0.1)
    .menu_list
      padding: 10px 0px
      font-size: 25px
      +sm
        padding: 7px 0px
        font-size: 23px
      +ip5
        padding: 8px 0px
        font-size: 20px
      &:hover
        color: $color_white
        background-color: $color_orange
      a
        display: block
        padding: 5px 0px
    .collapse,.collapsing
      background-color: $color_white
      a
        padding: 10px 0px
        font-size: 20px
        font-weight: normal
        color: $color_black
        +sm
          padding: 7px 0px
        +ip5
          padding: 8px 0px
        &:hover
          color: $color_white 
          background-color: $color_orange
    .collapse
      a.collapse_items.actived
        font-weight: bold
        background-color: $color_ltOrange
        cursor: default
        &:hover
          background-color: $color_ltOrange
          
.menu_mobile_top
    padding: 100px 0px 0px
    background-color: transparent
    
//navbar   
nav a
  color: $color_white
  &:hover
    color: $color_orange
    text-decoration: none
nav.myNavbar
    padding: 0px 150px
    background-color: $color_black
    transition-duration: 0.5s
    box-shadow: 0px -10px 15px 10px $color_black
    z-index: 5
    +xl
      padding: 0px 55px
    +lg
      padding: 0px 40px
    +md
      padding: 0px 30px
    +sm
      padding: 0px 20px  
    +ip5
      padding: 0px 15px  
    .logo
      font-size: 30px
      +ip5
        font-size: 25px
    .menu
      .menu_list
        padding: 20px 30px
        font-size: 18px
        color: $color_white
        border: 1.5px solid transparent
        box-sizing: border-box
        &:hover 
          color: $color_ltOrange
      .menu_list.actived
        font-weight: bold
        color: $color_orange
        border-bottom: 1.5px solid $color_orange
        cursor: default
    .menu.rwd-overlg
      display: inline-flex
      +lg
        display: none
    .menu-hamburger.rwd-underlg
      display: none
      padding: 10px 7px
      font-size: 35px
      color: $color_white
      +lg
        display: inline-block

.dropdown
  .dropdown-content
    display: none
    position: absolute
    margin-top: 21.5px
    width: 100%
    left: 0px
    font-weight: normal
    background-color: $color_white
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    z-index: 1
    a
      display: block
      padding: 12px 30px
      color: $color_black
      text-decoration: none
      &:hover
        color: $color_white
        background-color: $color_orange
    a.actived
      background-color: $color_ltOrange  
      font-weight: bold
      color: $color_black
      cursor: default
      &:hover
        background-color: $color_ltOrange
        color: $color_black
      
  &:hover
    .dropdown-content
      display: block

// footer----------------------
footer
  .site-map
    padding: 30px 5% 0px
    background-color: $color_white
    .row
      .col-lg-7
        margin-bottom: 30px
        .row.footer_content
          .footer_list,.footer_list_app
            margin-top: 20px
            h4 
              font-size: 17px
              font-weight: bold
              +xm
                margin-bottom: 0px
                font-size: 15px
            ul
              padding: 0px
              li
                list-style-type: none
                +xm
                  height: 25px
                a
                  font-size: 15px
                  color: $color_grey
                  text-decoration: none
                  &:hover
                    color: $color_ltGrey
                  +xm
                    font-size: 12px
            ul.social
              left: -5px
              li
                a
                  padding: 10px 
                  font-size: 25px
          .footer_list_app.col-12
            ul
              li
                a
                  font-size: 35px
                  padding: 10px 15px
      .col-lg-5
        
        .form-group
          form
            padding-bottom: 40px
            +lg
              padding-bottom: 20px
            h4
              font-size: 25px
              font-weight: bold
              line-height: 1.5
              +md
                font-size: 20px
              +sm
                font-size: 18px
              +ip5
                font-size: 15px
              
            .group
              i 
                position: absolute
                z-index: 1
              i.far.fa-envelope
                padding: 10px 10px 10px 18px
                height: 100%
                left: 1px
                top: 1px
                background-color: transparent
              input
                height: 50px
                width: 85%
                font-size: 15px
                text-indent: 45px
                background-color: transparent
                border-radius: 0px
                border: 1px solid $color_black
              button
                position: absolute
                height: 100%
                width: 15%
                bottom: 0px
                right: 0px
                border-left: none
              .invalid-feedback
                position: absolute
        hr
          display: none
          margin: 0px
          +lg
            display: block
  .copyright
    background-color: $color_black
    .container
      p
        margin-bottom: 0px
        padding: 20px 0px 20px
        font-size: 15px
        color: $color_grey

nav.myNavbar.navbar-top
  box-shadow: none   
