.menu_mobile.open
  transform: translateY(0px)
  transition-duration: 0.4s
  background-color: $color_black

.menu_mobile
  background-color: transparent
  color: $color_white
  display: none
  top: 0px
  width: 100%
  z-index: -1
  padding: 70px 0px 0px
  position: absolute
  left: 0px
  transform: translateY(-600px)
  transition-duration: 0.5s
  +lg
    display: block
  .active
    color: $color_orange
    font-weight: bold
  a
    color: $color_white
    display: block
    text-align: center
    &:hover
      color: $color_ltOrange
  .wrap
    hr
      border-top: 1px solid rgba($color_white, 0.1)
      margin: 0
    .menu_list
      font-size: 30px
      padding: 20px 0px
      +sm
        font-size: 20px
      +ip5
        padding: 10px 0px
      &:hover
        background-color: $color_ltOrange
        color: $color_black
      a
        display: block
        padding: 5px 0px
    .collapse,.collapsing
      background-color: $color_white
      a
        font-size: 25px  
        padding: 10px 0px
        color: $color_black
        font-size: 20px
        &:hover
          background-color: $color_ltOrange
          color: $color_black 
  
    
.menu_mobile_top
    background-color: transparent
    padding: 100px 0px 0px
    // +xl
    //     padding: 30px 0px
    // +lg
    //     padding: 20px 0px
    // +md
    //     padding: 10px 0px 
    // +sm
    //     padding: 10px 0px    
    
    
nav a
  color: $color_white
  &:hover
    color: $color_orange
    text-decoration: none
nav.myNavbar
    background-color: $color_black
    padding: 0px 150px
    z-index: 5
    transition-duration: 0.5s
    +xl
      padding: 0px 55px
    +lg
      padding: 0px 40px
    +md
      padding: 0px 30px
    +sm
      padding: 0px 20px    
    .logo
      font-size: 30px
    .menu
      .menu_list
        box-sizing: border-box
        color: $color_white
        font-size: 18px
        padding: 20px 30px
        border: 1.5px solid transparent
        &:hover 
          color: $color_ltOrange
      a.actived
        border-bottom: 1.5px solid $color_orange
        color: $color_orange
        cursor: default
        font-weight: bold
    .menu.rwd-overlg
      display: inline-flex
      +lg
        display: none
    .menu-hamburger.rwd-underlg
      display: none
      color: $color_white
      padding: 10px 7px
      font-size: 35px
      +lg
        display: inline-block
nav.myNavbar.navbar-top
  background-color: transparent
  padding: 30px 150px
  +xl
      padding: 30px 55px
  +lg
      padding: 20px 40px
  +md
      padding: 10px 30px 
  +sm
      padding: 10px 20px
  .logo
  .menu
    
    .menu_list
      border: 1.5px solid transparent
      padding: 10px 30px
      &:hover
        border: 1.5px solid $color_white
    .dropdown
        .dropdown-content
          margin-top: 11.5px
    a.menu_list.actived
      &:hover
        color: $color_orange
  
.dropdown
  .dropdown-content
    display: none
    position: absolute
    background-color: $color_white
    min-width: 100%
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    z-index: 1
    left: 0px
    margin-top: 21.5px
    a
      color: $color_black
      padding: 12px 30px
      text-decoration: none
      display: block
      &:hover
        background-color: $color_orange
        color: $color_white
  &:hover
    .dropdown-content
      display: block



// footer----------------------
footer
  .site-map
    background-color: $color_white
    padding: 30px 5% 0px
    .row
      .col-lg-7
        margin-bottom: 30px
        .row.footer_content
          .footer_list,.footer_list_app
            
            margin-top: 20px
            h4 
              font-size: 17px
              font-weight: bold
              +xm
                font-size: 15px
                margin-bottom: 0px
            ul
              padding: 0px
              li
                list-style-type: none
                +xm
                  height: 25px
                a
                  text-decoration: none
                  font-size: 15px
                  color: $color_grey
                  &:hover
                    color: $color_ltGrey
                  +xm
                    font-size: 12px
            ul.social
              left: -5px
              li
                a
                  padding: 10px 
                  font-size: 25px
          .footer_list_app.col-12
            ul
              li
                a
                  font-size: 35px
                  padding: 10px 15px
      .col-lg-5
        h4
          font-size: 25px
          line-height: 1.5
          font-weight: bold
          +md
            font-size: 20px
            
        form
          padding-bottom: 40px
          +lg
            padding-bottom: 20px
          i 
            position: absolute
            z-index: 1
          i.far.fa-envelope
            padding: 10px 10px 10px 14px
            left: 1px
            background-color: white
          input
            height: 50px
            width: 85%
            text-indent: 45px
            font-size: 15px
          button
            width: 15%
            left: -1px
        hr
          display: none
          margin: 0px
          +lg
            display: block

  .copyright
    background-color: $color_black
    .container
      p
        color: $color_grey
        font-size: 15px
        margin-bottom: 0px
        padding: 20px 0px 20px
    
